// Placeholders
%nav-item_underline {
	@include media('>phone-small') {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: $color-orange;
		width: 100%;
		height: 1px;
		transition: 0.35s ease transform;
		transform-origin: center;
		transform: scaleX(0);
	}
}

%navigation-header__mobile-toggle {
	position: relative;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	padding: 0;

	@include media('>phone-small') {
		display: none;
	}

	&::before,
	&::after {
		content: '';
	}

	&::before {
		position: absolute;
		top: calc(50% - 1px);
		right: 8px;
		width: rem-calc(18);
		height: 1px;
		background-color: $color-white;
		transition: 0.3s ease opacity;
	}

	&::after {
		width: rem-calc(34);
		height: rem-calc(34);
		border: 1px solid $color-orange;
		margin-left: 8px;
		transition: 0.3s ease border-color;
	}

	&--close-btn {
		@extend %navigation-header__mobile-toggle;

		&::before {
			opacity: 0;
		}

		&::after {
			border-color: $color-white;
		}
	}
}

%navigation-header__mobile-toggle-title {
	font-family: $font-druk-wide;
	text-transform: uppercase;
	font-size: 7px;
	letter-spacing: 0.66px;
	line-height: 1;

	&::before,
	&::after {
		content: '';
		position: absolute;
		right: 8px;
		width: rem-calc(18);
		height: 1px;
		background-color: $color-white;
		transition: 0.3s ease transform, 0.3s ease background-color;
	}

	&::before {
		top: calc(50% - 6px);
	}

	&::after {
		top: calc(50% + 4px);
	}

	&--close-btn {
		@extend %navigation-header__mobile-toggle-title;

		&::before {
			transform: translateY(6px) rotate(135deg);
		}

		&::after {
			transform: translateY(-4px) rotate(-135deg);
		}
	}
}

// Navigation Wrapper
.navigation {
	width: 100%;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	overflow-x: hidden;
	color: $color-white;

	@include media('>phone-small') {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 99999;
		overflow: visible;
		transition: 0.35s ease background-color;
	}

	&:hover {
		@include media('>phone-small') {
			background-color: $color-licorice;
		}
	}

	&__inner {
		width: 100%;
		max-width: rem-calc(1920);

		@include media('>phone-small') {
			display: flex;
			align-items: stretch;
			align-content: stretch;
			justify-content: space-between;
			padding: 10px rem-calc(9);
		}

		@include media('>phone') {
			padding-left: rem-calc(20);
			padding-right: rem-calc(20);
		}

		@include media('>tablet') {
			padding: rem-calc(15) rem-calc(40);
		}

		@include media('>desktop-small') {
			padding-left: rem-calc(60);
			padding-right: rem-calc(80);
		}

		@include media('>desktop-large') {
			padding: rem-calc(20) rem-calc(140) rem-calc(20) rem-calc(120);
		}

		@include media('>desktop-xlarge') {
			padding: rem-calc(30) rem-calc(180) rem-calc(30) rem-calc(160);
		}
	}

	&__header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 999999;
		transition: 0.35s ease background-color;

		@include media('>phone-small') {
			width: rem-calc(91);
			position: relative;
			z-index: 1;
			transition: none;
			background-color: transparent;
		}

		@include media('>phone') {
			width: rem-calc(110);
		}

		@include media('>tablet') {
			width: rem-calc(126);
		}

		@include media('>desktop-small') {
			width: rem-calc(146);
		}

		@include media('>desktop-large') {
			width: rem-calc(166);
		}
	}

	&__main {
		position: fixed;
		top: rem-calc(60);
		left: 0;
		z-index: 999999;
		width: 100%;
		height: calc(100% - 60px);
		background-color: $color-licorice;
		overflow: hidden;
		opacity: 0;
		pointer-events: none;
		transform: translateX(-100%);
		transition: 0.3s ease-in-out opacity;

		@include media('>phone-small') {
			width: calc(100% - 91px);
			position: relative;
			top: 0;
			z-index: 1;
			height: auto;
			transition: none;
			opacity: 1;
			transform: none;
			background-color: transparent;
			pointer-events: auto;
			overflow: visible;
		}

		@include media('>phone') {
			width: calc(100% - 110px);
		}

		@include media('>tablet') {
			width: calc(100% - 126px);
		}

		@include media('>desktop-small') {
			width: calc(100% - 146px);
		}

		@include media('>desktop-large') {
			width: calc(100% - 166px);
		}

		&-inner {
			width: 100%;
			height: 100%;
			overflow: scroll;
			padding: rem-calc(52) rem-calc(20);

			@include media('>phone-small') {
				display: flex;
				align-items: stretch;
				align-content: stretch;
				justify-content: center;
				width: auto;
				height: auto;
				padding: 0;
				overflow: visible;
			}
		}
	}

	.social-links {
		margin-left: rem-calc(24);

		@include media('>phone-small') {
			display: none;
		}
	}

	&--sticky {
		@include media('>phone-small') {
			background-color: $color-licorice;
		}

		.navigation-header {
			@include media('<=phone-small') {
				background-color: $color-licorice;
			}
		}
	}

	&--mobile-active {
		.navigation-header {
			@include media('<=phone-small') {
				background-color: $color-licorice;
			}

			&__mobile-toggle {
				&::before {
					opacity: 0;
				}

				&::after {
					border-color: $color-white;
				}

				&-title {
					&::before {
						transform: translateY(6px) rotate(135deg);
					}

					&::after {
						transform: translateY(-4px) rotate(-135deg);
					}
				}
			}

			.navigation-header__services-return-link {
				display: none;
			}

			.navigation-header__company--return-link-active .navigation-header__company-link {
				margin-left: 0;
			}
		}

		.navigation__main {
			pointer-events: auto;
			opacity: 1;
			transform: none;
		}
	}
}

// Navigation Header
.navigation-header {
	height: rem-calc(60);
	padding: rem-calc(12) rem-calc(12) rem-calc(12) rem-calc(14);

	@include media('>phone-small') {
		display: flex;
		align-items: stretch;
		align-content: stretch;
		height: auto;
		padding: 5px;
	}

	&:hover {
		.navigation-header-brands {
			@include media('>phone-small') {
				max-height: rem-calc(350);
				pointer-events: auto;
			}
		}

		.navigation-header__company {
			&::after {
				@include media('>phone-small') {
					transform: scaleX(1);
				}
			}

			&-toggle::before,
			&-toggle::after {
				@include media('>phone') {
					background-color: $color-orange;
				}
			}

			&-toggle::after {
				@include media('>phone-small') {
					transform: rotate(-90deg);
				}
			}
		}
	}

	&__mobile-toggle {
		@extend %navigation-header__mobile-toggle;

		&-title {
			@extend %navigation-header__mobile-toggle-title;
		}
	}

	&__company {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: space-between;

		@include media('>phone') {
			position: relative;
		}

		&::after {
			@extend %nav-item_underline;
		}

		&-logo {
			width: rem-calc(65);
			height: auto;

			@include media('>phone') {
				width: rem-calc(76);
			}

			@include media('>tablet') {
				width: rem-calc(96);
			}

			@include media('>desktop-small') {
				width: rem-calc(116);
			}

			@include media('>desktop-large') {
				width: rem-calc(130);
			}
		}

		&-toggle {
			font-size: 0;
			position: relative;
			width: rem-calc(14);
			height: rem-calc(14);
			margin-left: 2px;
			margin-right: auto;

			@include media('>phone') {
				margin-left: 5px;
			}

			@include media('>desktop-small') {
				margin-left: 7px;
			}

			@include media('>desktop-medium') {
				margin-left: rem-calc(10);
			}

			&::before,
			&::after {
				content: '';
				position: absolute;
				background-color: $color-white;
			}

			&::before {
				top: calc(50% - 1px);
				left: calc(50% - 3px);
				width: 6px;
				height: 2px;
			}

			&::after {
				top: calc(50% - 3px);
				left: calc(50% - 1px);
				width: 2px;
				height: 6px;
				transition: 0.35s ease transform;
			}
		}
	}

	.navigation-header-brands {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 4;
		background-color: $color-licorice;
		width: 100%;
		height: auto;
		max-height: 0;
		transition: 0.5s ease max-height;
		overflow: hidden;
		pointer-events: none;
		padding-left: rem-calc(18);
		padding-right: rem-calc(18);

		@include media('>phone-small') {
			width: rem-calc(300);
			padding-left: rem-calc(24);
			padding-right: rem-calc(24);
		}

		@include media('>phone') {
			width: rem-calc(325);
			padding-left: rem-calc(32);
			padding-right: rem-calc(32);
		}

		@include media('>tablet') {
			width: rem-calc(350);
			padding-left: rem-calc(38);
			padding-right: rem-calc(38);
		}

		@include media('>desktop-small') {
			width: rem-calc(375);
			padding-left: rem-calc(42);
			padding-right: rem-calc(42);
		}

		@include media('>desktop-medium') {
			width: rem-calc(425);
			padding-left: rem-calc(48);
			padding-right: rem-calc(48);
		}

		@include media('>desktop-large') {
			width: rem-calc(452);
			padding-left: rem-calc(55);
			padding-right: rem-calc(55);
		}

		&__title {
			@extend %strikethrough-header;

			text-align: center;
			padding-left: rem-calc(21);
			padding-right: rem-calc(21);
			margin-top: 6px;

			@include media('>phone-small') {
				margin-top: rem-calc(12);
			}

			@include media('>phone') {
				margin-top: rem-calc(16);
			}

			@include media('>tablet') {
				margin-top: rem-calc(22);
			}

			@include media('>desktop-small') {
				margin-top: rem-calc(28);
			}

			@include media('>desktop-medium') {
				margin-top: rem-calc(34);
			}

			@include media('>desktop-large') {
				margin-top: rem-calc(45);
			}

			&-inner {
				@extend %strikethrough-header__title;
			}
		}

		&__list {
			margin-top: rem-calc(16);
			padding-bottom: rem-calc(21);

			@include media('>phone-small') {
				padding-bottom: rem-calc(24);
			}

			@include media('>phone') {
				padding-bottom: rem-calc(32);
			}

			@include media('>tablet') {
				padding-bottom: rem-calc(38);
			}

			@include media('>desktop-small') {
				padding-bottom: rem-calc(46);
			}

			@include media('>desktop-medium') {
				padding-bottom: rem-calc(52);
			}

			@include media('>desktop-large') {
				margin-top: rem-calc(36);
				padding-bottom: rem-calc(60);
			}

			&-item {
				position: relative;
				display: flex;
				align-content: stretch;
				align-items: stretch;
				justify-content: flex-start;
				background-color: $color-slate;
				margin-bottom: rem-calc(16);
				min-height: rem-calc(62);

				@include media('>phone-small') {
					transition: 0.35s ease background-color;
				}

				@include media('>desktop-small') {
					min-height: rem-calc(75);
				}

				&:last-child {
					margin-bottom: 0;
				}

				&:hover {
					@include media('>phone-small') {
						background-color: $color-gray-tertiary;
					}

					.navigation-header-brands__list-link {
						&::before,
						&::after {
							@include media('>phone-small') {
								border-color: $color-white;
								opacity: 0.85;
							}
						}
					}
				}
			}

			&-link {
				width: 100%;
				display: flex;
				align-items: center;
				align-content: center;
				justify-content: flex-start;
				padding: rem-calc(9) rem-calc(20);

				@include media('>desktop-small') {
					padding: rem-calc(12) rem-calc(28);
				}

				&::before,
				&::after {
					content: '';
					position: absolute;
					display: block;
					border: 1px solid $color-orange;

					@include media('>phone-small') {
						transition: 0.35s ease border-color, 0.35s ease opacity;
					}
				}

				&::before {
					right: rem-calc(26);
					top: 50%;
					transform: translateY(-50%) rotate(-45deg);
					width: 5px;
					height: 5px;
					border-left: none;
					border-top: none;

					@include media('>desktop-small') {
						right: rem-calc(48);
						width: 7px;
						height: 7px;
					}
				}

				&::after {
					top: rem-calc(11);
					right: rem-calc(10);
					width: rem-calc(34);
					height: calc(100% - 22px);

					@include media('>desktop-small') {
						top: rem-calc(13);
						right: rem-calc(28);
						width: rem-calc(44);
						height: calc(100% - 26px);
					}
				}
			}

			&-image {
				width: rem-calc(105);

				@include media('>desktop-small') {
					width: rem-calc(115);
				}
			}
		}
	}
}

// Navigation Menu
.navigation-menu {
	@include media('>phone-small') {
		display: flex;
		align-content: stretch;
		align-items: stretch;
		justify-content: space-between;
		margin-left: auto;
		margin-right: auto;
	}

	&__list {
		@include media('>phone-small') {
			display: flex;
			align-content: stretch;
			align-items: stretch;
			justify-content: center;
		}

		@include media('>phone') {
			margin-left: rem-calc(16);
		}

		@include media('>tablet') {
			margin-left: rem-calc(28);
		}

		@include media('>desktop-small') {
			margin-left: rem-calc(36);
		}

		@include media('>desktop-medium') {
			margin-left: rem-calc(42);
		}

		@include media('>desktop-large') {
			margin-left: rem-calc(54);
		}
	}

	&__item {
		display: flex;
		align-content: stretch;
		align-items: stretch;
		justify-content: flex-start;
		flex-wrap: wrap;

		@include media('>phone-small') {
			position: relative;
		}

		@include media('>phone') {
			margin-left: rem-calc(5);
			margin-right: rem-calc(5);
		}

		@include media('>tablet') {
			margin-left: rem-calc(15);
			margin-right: rem-calc(15);
		}

		@include media('>desktop-small') {
			margin-left: rem-calc(20);
			margin-right: rem-calc(20);
		}

		&:first-child {
			@include media('>phone-small') {
				margin-left: 0;
				padding-left: 0;
			}
		}

		&:last-child {
			@include media('>phone-small') {
				margin-right: 0;
				padding-right: 0;
			}
		}

		&::after {
			@extend %nav-item_underline;
		}

		&:hover {
			.navigation-menu__label {
				@include media('>phone-small') {
					color: $color-orange;
				}
			}

			.navigation-menu__submenu-toggle {
				&::after {
					@include media('>phone-small') {
						transform: rotate(-90deg);
						background-color: $color-orange;
					}
				}
			}

			&::after {
				transform: scaleX(1);
			}
		}

		&--has-submenu {
			&:hover {
				.navigation-menu__submenu {
					@include media('>phone-small') {
						max-height: 800px;
					}
				}
			}

			.navigation-menu__link {
				padding-right: 0;
			}
		}

		&--submenu-active {
			.navigation-menu__submenu{
				@include media('<=phone-small') {
					max-height: rem-calc(800);
				}
			}

			.navigation-menu__submenu-toggle {
				&::after {
					@include media('<=phone-small') {
						transform: rotate(-90deg);
					}
				}
			}
		}
	}

	&__link {
		display: inline-flex;
		align-items: center;
		align-content: center;
		justify-content: flex-start;
		max-width: calc(100% - 35px);
		padding-left: rem-calc(20);
		padding-right: rem-calc(20);
		margin-bottom: rem-calc(28);

		@include media('>phone-small') {
			max-width: 100%;
			margin-bottom: 0;
			padding-left: rem-calc(9);
			padding-right: rem-calc(9);
		}
	}

	&__indicator {
        margin-right: 1rem;
        font-family: $font-forza;
		font-size: rem-calc(14);
		letter-spacing: 0.17px;
        font-weight: bold;
        color: $color-orange;

        @include media('>phone') {
            display: none;
        }
	}

	&__label {
		color: $color-white;
		font-family: $font-druk-wide;
		font-size: rem-calc(20);
		letter-spacing: 1.89px;
		text-transform: uppercase;

		@include media('>phone-small') {
			font-size: 7px;
			transition: 0.35s ease color;
		}

		@include media('>desktop-small') {
			font-size: 8px;
		}

		@include media('>desktop-medium') {
			font-size: rem-calc(9);
			letter-spacing: 0.85px;
		}
	}

	&__submenu-toggle {
		position: relative;
		font-size: 0;
		width: rem-calc(24);
		height: rem-calc(24);
		margin-bottom: rem-calc(28);
		align-self: center;

		@include media('>phone-small') {
			top: -1px;
			left: 2px;
			margin-bottom: 0;
			padding: 0;
			width: rem-calc(12);
			height: rem-calc(12);
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			background-color: $color-white;
		}

		&::before {
			top: calc(50% - 1px);
			left: calc(50% - 3px);
			width: 6px;
			height: 2px;
		}

		&::after {
			top: calc(50% - 3px);
			left: calc(50% - 1px);
			width: 2px;
			height: 6px;
			transition: 0.1s ease transform;

			@include media('>phone-small') {
				transition: 0.2s ease transform, 0.2s ease background-color;
			}
		}
	}

	&__submenu {
		width: 100%;
		overflow: hidden;
		max-height: 0;
		transition: 0.75s ease-in-out max-height;

		@include media('>phone-small') {
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 3;
			width: rem-calc(300);
			background-color: $color-licorice;
			padding-left: rem-calc(15);
			padding-right: rem-calc(15);
		}

		@include media('>phone') {
			width: rem-calc(325);
			padding-left: rem-calc(25);
			padding-right: rem-calc(25);
		}

		@include media('>tablet') {
			left: 50%;
			transform: translateX(-50%);
			width: rem-calc(350);
			padding-left: rem-calc(30);
			padding-right: rem-calc(30);
		}

		@include media('>desktop-small') {
			width: rem-calc(375);
			padding-left: rem-calc(40);
			padding-right: rem-calc(40);
		}

		@include media('>desktop-medium') {
			width: rem-calc(425);
			padding-left: rem-calc(50);
			padding-right: rem-calc(50);
		}

		@include media('>desktop-large') {
			width: 450px;
			padding-left: rem-calc(55);
			padding-right: rem-calc(55);
		}

		&-item {
			&:not(.navigation-menu__submenu-item--cta) {
				@extend %arrow-block-button;

				margin-bottom: rem-calc(16);

				@include media('>phone-small') {
					margin-bottom: rem-calc(10);
				}

				@include media('>desktop-small') {
					margin-bottom: rem-calc(12);
				}

				@include media('>desktop-medium') {
					margin-bottom: rem-calc(14);
				}

				@include media('>desktop-large') {
					margin-bottom: rem-calc(16);
				}

				&:first-child {
					@include media('>phone-small') {
						margin-top: rem-calc(15);
					}

					@include media('>phone') {
						margin-top: rem-calc(28);
					}

					@include media('>tablet') {
						margin-top: rem-calc(36);
					}

					@include media('>desktop-small') {
						margin-top: rem-calc(48);
					}

					@include media('>desktop-medium') {
						margin-top: rem-calc(62);
					}

					@include media('>desktop-large') {
						margin-top: rem-calc(78);
					}
				}

				&:nth-last-child(2) {
					@include media('>phone-small') {
						margin-bottom: rem-calc(15);
					}

					@include media('>phone') {
						margin-bottom: rem-calc(28);
					}

					@include media('>tablet') {
						margin-bottom: rem-calc(36);
					}

					@include media('>desktop-small') {
						margin-bottom: rem-calc(48);
					}

					@include media('>desktop-medium') {
						margin-bottom: rem-calc(62);
					}

					@include media('>desktop-large') {
						margin-bottom: rem-calc(78);
					}

					@include media('>desktop-large') {
						margin-bottom: rem-calc(78);
					}
				}
			}

			&--cta {
				@include media('>phone-small') {
					display: none;
				}
			}
		}

		&-link {
			@extend %arrow-block-button__link;
		}

		&-icon {
			@extend %arrow-block-button__icon;
		}

		&-label {
			@extend %arrow-block-button__label;
		}

		&-cta {
			@extend %site-button;

			width: 100%;
			margin-top: rem-calc(26);
			margin-bottom: rem-calc(66);
		}
	}
}

.navigation-company-info {
	font-family: $font-forza;
	margin-top: rem-calc(58);
	margin-bottom: rem-calc(32);
	padding-left: rem-calc(26);
	padding-right: rem-calc(26);

	@include media('>phone-small') {
		display: none;
	}

	&__title {
		display: block;
		font-weight: bold;
		font-size: rem-calc(18);
		text-transform: uppercase;
		margin-bottom: 3px;
	}

	&__address {
		font-size: rem-calc(12);
		letter-spacing: -0.23px;
		line-height: 1.5;
		margin-bottom: rem-calc(30);

		&-link {
			color: $color-lightgray;
		}

		&-street {
			display: block;
		}
	}

	&__phone {
		display: inline-flex;
		align-content: center;
		align-items: center;
		justify-content: flex-start;
		font-family: $font-forza;
		font-size: rem-calc(16);
		letter-spacing: -0.2px;

		&::before {
			content: '';
			display: inline-block;
			width: rem-calc(15);
			height: rem-calc(18);
			background-image: url(/dist/images/general/phone-icon.svg);
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			margin-right: 12px;
		}
	}
}

.navigation-cta {
	@extend %site-button;

	margin-left: rem-calc(26);
	margin-bottom: rem-calc(64);

	@include media('>phone-small') {
		font-size: 7px;
		margin-left: 0;
		margin-bottom: 0;
		background-color: transparent;
		border: 1px solid  $color-pumpkin;
	}

	@include media('>phone-small', '<=phone') {
		padding-top: rem-calc(15);
		padding-bottom: rem-calc(15);
	}

	@include media('>desktop-small') {
		font-size: 8px;
		border-width: 2px;
	}

	@include media('>desktop-medium') {
		font-size: rem-calc(9);
		padding: rem-calc(20) rem-calc(74) rem-calc(20) rem-calc(26);
	}

	&::before {
		@include media('>phone-small') {
			background-color: transparent;
			border-left: 1px solid $color-pumpkin;
		}

		@include media('>desktop-small') {
			border-width: 2px;
		}

		@include media('>desktop-medium') {
			width: rem-calc(44);
		}
	}

	&::after {
		@include media('>desktop-medium') {
			width: 6px;
			height: 6px;
			right: rem-calc(18);
		}
	}

	&:hover {
		@include media('>phone-small') {
			background-color: $color-pumpkin;
		}

		&::before {
			@include media('>phone-small') {
				background-color: $color-orange;
			}
		}
	}
}
