@font-face {
	font-family: "Druk Wide";
	font-weight:400;
	src: url("/includes/fonts/DrukWide-Medium.woff") format("woff");
}
@font-face {
	font-family: "Forza";
	font-weight:400;
	src: url("/includes/fonts/forza-medium.woff") format("woff");
}
@font-face {
	font-family: "Forza";
	font-weight:700;
	src: url("/includes/fonts/forza-bold.woff") format("woff");
}
@font-face {
	font-family: "Forza Black";
	font-weight:700;
	src: url("/includes/fonts/forza-black-webfont.woff") format("woff");
}
@font-face {
	font-family: "Open Sans";
	src: url("/includes/fonts/OpenSans-Bold.woff") format("woff");
	font-weight: 700;
}
@font-face {
	font-family: "Open Sans";
	src: url("/includes/fonts/OpenSans-Bolditalic.woff") format("woff");
	font-style: italic;
	font-weight: 700;
}
@font-face {
	font-family: "Open Sans";
	font-weight:900;
	src: url("/includes/fonts/OpenSans-ExtraBold.woff") format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight:900;
	src: url("/includes/fonts/OpenSans-ExtraBoldItalic.woff") format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 400;
	src: url("/includes/fonts/OpenSans-Italic.woff") format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-weight: 300;
	src: url("/includes/fonts/OpenSans-Light.woff") format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight:300;
	src: url("/includes/fonts/OpenSans-LightItalic.woff") format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-weight: 400;
	src: url("/includes/fonts/OpenSans-Regular.woff") format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-weight:600;
	src: url("/includes/fonts/OpenSans-Semibold.woff") format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight:600;
	src: url("/includes/fonts/OpenSans-SemiboldItalic.woff") format("woff");
}
